@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .mason-style {
        column-count: 3;
        column-gap: 0.5rem;
    }

    .mason-style-support {
        break-inside: avoid;
        margin-bottom: 0.5rem;
    }

    @keyframes text-changer {
        from {
            color: white;
        }
        to {
            color: #2a62f3;
        }
    }

    .animation-color-change {
        animation: text-changer 4s infinite alternate;
    }
}